<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HuskyNZ</title>
        <link
            rel="stylesheet"
            href="https://serv.hnz.li/lib/bootstrap/dist/css/bootstrap.min.css?t_-IOF5WTLZwNrxyQK9PZrr66PBLLrYBttjt8VJbyg8OBiFedhTVJkzB"
        />
        <link
            rel="stylesheet"
            href="https://serv.hnz.li/css/site.css?t_-IOF5WTLZwNrxyQK9PZrr66PBLLrYBttjt8VJbyg8OBiFedhTVJkzB"
        />
        <!--Pulles in favicon and fonts from the alternitive current branch-->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="https://storage.filmclub.tech/index.php/apps/theming/icon?v=e6c3dd63"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="https://storage.filmclub.tech/index.php/apps/theming/icon?v=e6c3dd63"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="https://storage.filmclub.tech/index.php/apps/theming/icon?v=e6c3dd63"
        />
        <!-- <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="huskynz"> </script> -->
        <!-- <script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "e52ae857-a290-4eb3-bdd3-cb1fb2fbf24b",
      host: "https://huskynz-help-help.freshchat.com"
    });
  }

  function initialize(i, t) {
    var e;
    i.getElementById(t) ?
      initFreshChat() : ((e = i.createElement("script")).id = t, e.async = !0,
        e.src = "https://huskynz-help-help.freshchat.com/js/widget.js", e.onload = initFreshChat, i.head.appendChild(e))
  }

  function initiateCall() {
    initialize(document, "Freshchat-js-sdk")
  }
  window.addEventListener ? window.addEventListener("load", initiateCall, !1) :
    window.attachEvent("load", initiateCall, !1);
</script>
-->
        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] =
                    c[a] ||
                    function () {
                        (c[a].q = c[a].q || []).push(arguments);
                    };
                t = l.createElement(r);
                t.async = 1;
                t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0];
                y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "fy4b3y9xuz");
        </script>
    </head>

    <body>
        <header>
            <nav
                b-3tnlbj4u0l
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
            >
                <div b-3tnlbj4u0l class="container-fluid">
                    <a class="navbar-brand" href="/"
                        >Rolleston College Film Club</a
                    >
                    <button
                        b-3tnlbj4u0l
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span b-3tnlbj4u0l class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        b-3tnlbj4u0l
                        class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
                    >
                        <ul b-3tnlbj4u0l class="navbar-nav flex-grow-1">
                            <!-- LOGO now on the current branch -->
                            <div b-3tnlbj4u0l class="logo">
                                <img
                                    b-3tnlbj4u0l
                                    src="https://storage.filmclub.tech/index.php/apps/theming/icon?v=e6c3dd63"
                                    width="50"
                                    height="50"
                                />
                            </div>
                        </ul>

        </header>
    </body>
    <div b-3tnlbj4u0l class="container">
        <main b-3tnlbj4u0l role="main" class="pb-3">
            <body>
                <div class="Maincontent">
                    <h1>Support for Rolleston College Film Club is provied by HuskyNZ</h1>
                    <p></p>
                    <br>
                    <br>

                <li b-3tnlbj4u0l class="">
              <a class="nav-link text-dark" href="/support/support">Proceed</a>
            </li>
            </body>

            <footer></footer>
        </main>
    </div>
</html>

<!-- Footer Style -->
<style>
    footer {
        background-color: ;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
    }
</style>

<footer b-3tnlbj4u0l class="border-top footer text-muted">
    <div b-3tnlbj4u0l class="container">
        This site is run by HuskyNZ designed by the Film Club Team | &copy; 2022
        - 2023| Rolleston College Film Club | <a
            href="https://legal.filmclub.tech/Privacy-Policy">Privacy Policy</a
        > | <a href="https://legal.filmclub.tech/toc">TERMS OF USE</a> | <a
            href="https://hnz.li/status">HuskyNZ Status</a
        >
    </div>
</footer>
<script
    src="https://serv.hnz.li/lib/jquery/dist/jquery.min.js?t_-IOF5WTLZwNrxyQK9PZrr66PBLLrYBttjt8VJbyg8OBiFedhTVJkzB"
></script>
<script
    src="https://serv.hnz.li/lib/bootstrap/dist/js/bootstrap.bundle.min.js?t_-IOF5WTLZwNrxyQK9PZrr66PBLLrYBttjt8VJbyg8OBiFedhTVJkzB"
></script>
<script
    src="https://serv.hnz.li/js/site.js?t_-IOF5WTLZwNrxyQK9PZrr66PBLLrYBttjt8VJbyg8OBiFedhTVJkzB"
></script>
